@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
}


header{
    background: url(./images/banner.jpg);
    background-size: cover;
    background-position: top 20% center;
    background-repeat: no-repeat;
    height: 450px;
    margin-bottom: 40px;
}
.container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    font-weight: bold;
    margin: 25px 10px;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.info {
    flex: 1;
}

.row a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.row ul {
    list-style: none;
    display: flex;
}

.blue {
    color: #0087F7;
    font-size: 20px;
}

li .active {
    color: #0087F7;
}

.logo {
    font-size: 50px;
    margin-right: 15px;
}

.big {
    font-size: 40px;
}

li {
    padding-right: 20px;
}

li:last-child {
    padding: 0;
}

.col img {
    height: 200px;
    width: 100%;
}

.col {
    flex: 1;
    padding: 10px 20px;
}

.col h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 35px;
}

.col p {
    font-size: 18px;
}

.text-center {
    text-align: center;
    margin: 20px;
}

.text-center button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #007FF4;
    padding: 20px 35px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .big:last-child {
        display: none;
    }

    .blue {
        display: none;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col img {
        height: auto;
    }
}
    