@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.container {
    width: 1000px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.text-center {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.logo i {
    font-size: 50px;
    margin-right: 10px;
}

.logo h1 {
    display: inline-block;
    letter-spacing: 1.5px;
    font-size: 40px;
}

time {
    font-weight: 600;
    margin: -5px 0 15px 0;
}

.container nav {
    border-top: solid 2px #C4C4C4;
    border-bottom: solid 2px #C4C4C4;
}

.container ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.container a {
    text-decoration: none;
    color: black;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    padding: 0 25px;
    border-right: solid 2px #C4C4C4;
}

.col img {
    max-width: 100%;
    max-height: 100%;
}

main p {
    line-height: 30px;
    letter-spacing: 0.5px;
}

main h2 {
    margin-top: 10px;
}
.pic3 {
    border: 0;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        border: 0;
    }

    .logo {
        flex-direction: column;
        text-align: center;
    }

    .logo h1 {
        display: block;
    }

    .container ul {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container li {
        margin-right: 10px;
    }
}