

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: url(./bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.intro {
    position: fixed;
    top: 12%;
    left: 10%;
    width: 720px;
    max-width: 100%;
    font-size: 40px;
}

.contact {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5%;
    top: 5%;
    text-align: right;
    font-size: 35px;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    position: fixed;
    left: 10%;
    top: 45%;
    font-size: 50px;
    font-weight: 400;
}

.logo{
    position: fixed;
    left: 65%;
    top: 15%;
    font-size: 400px;
    opacity: 0.2;
}

ul {
    position: fixed;
    right: 3%;
    bottom: 15%;
    list-style-type: upper-roman;
    font-size: 35px;
    line-height: 50px;
}

h2 {
    position: fixed;
    left: 20%;
    top: 70%;
    font-size: 30px;
    text-align: right;
}

h3 {
    font-size: 50px;
}

h2 span {
    background-color: #556272;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 10px;
}

h2 span:last-child {
    transform: translate(-30px, -10px);
}

@media screen and (max-width:768px) {
    * {
        position: static !important;
    }

    .logo {
        display: none;
    }

    .contact {
        margin-top: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        list-style: none;
    }

    h1 {
        margin: 20px
    }
}